<div class="row animated fadeIn">
  <div class="form-group">
    <label for="">Digite el id del empleado</label>
    <input #termino type="text" (keyup)= "buscar(termino.value)" class= "form-control" placeholder="Buscar Empleado">
    <br>
      <button class= "btn btn-success" type="button" name="button" (click)="obtenerEmpleado()">Buscar</button>
  </div>
</div>

<table *ngIf="mostrarDatos === true" class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">email</th>
      <th scope="col">Address</th>
      <th scope="col">Geolocation</th>
      <th scope="col">Phone</th>
      <th scope="col">WebSite</th>
      <th scope="col">Company</th>

    </tr>
  </thead>

  <tbody bgcolor="white">
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{empleados.name}}</td>
      <td>{{empleados.username}}</td>
      <td>{{empleados.email}}</td>
      <td>{{empleados.address.street}} {{empleados.address.suite}} {{empleados.address.city}} {{empleados.address.zipcode}}</td>
      <td>{{empleados.address.geo.lat}} {{empleados.address.geo.lng}}</td>
      <td>{{empleados.phone}}</td>
      <td>{{empleados.website}}</td>
      <td>{{empleados.company.name}} {{empleados.company.catchPhrase}} {{empleados.company.bs}}</td>


    </tr>

  </tbody>


</table>
