<div class="jumbotron animated fadeIn fast">
      <div class="container">
        <img src="/assets/img/banlinea5.jpg" alt="">
        <p><a class="btn btn-primary btn-lg" href="https://banlinea.com/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Acerca</h2>
          <p>Banlinea es el Portal que te brinda herramientas para que tomes decisiones financieras acertadas. Queremos acompañarte desde la apertura de tu primera cuenta de ahorros, hasta el manejo eficiente de tu fondo de pensión cuando te retires de tu vida laboral. Creemos que con la ayuda de cada uno de nuestros visitantes como tú, podemos crear una nueva era financiera en la que cada uno de los colombianos haga parte de este cambio para crear nuevos servicios, más beneficios, y sobre todo, mayor transparencia para todos. </p>

        </div>
        <div class="col-md-4">
          <h2>Politicas</h2>
          <p>Ofrece un supermercado virtual que permite a sus usuarios tomar decisiones financieras informadas de forma fácil y segura, asegurando el cumplimiento de los requisitos que garanticen la satisfacción a todos nuestros clientes y usuarios, el acatamiento de la legislación vigente, el mantenimiento y mejora continua del Sistema de Gestión de Calidad, y fomentando la bancarización y la educación financiera de nuestros usuarios. </p>

       </div>
        <div class="col-md-4">
          <h2>Seguridad</h2>
          <p>Banlinea garantiza que ha adoptado las medidas oportunas de seguridad en sus instalaciones, sistemas y ficheros, así como el tratamiento confidencial de los Datos Personales de conformidad con la legislación vigente aplicable y le informa de que tiene implantadas las medidas de seguridad de índole técnica y organizativas necesarias para garantizar la seguridad de sus datos de carácter personal y evitar su alteración, pérdida y tratamiento y/o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural. </p>

        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Banlinea 2018</p>
      </footer>
    </div> <!-- /container -->
